<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>어베인 인터내셔널</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'board/css/post_list.css' %}">
    <script src="https://kit.fontawesome.com/3bd3b14c33.js" crossorigin="anonymous"></script>
</head>

<body>
    {% load static %}
    <div id="logo">
        <a href="{% url 'community' %}">
            <img src="{% static 'images/logo.png' %}" width="200" height="200">
        </a>
    </div>
    <div id="title">커뮤니티</div>
    <div id="box">
        <form id="searchbox">
            <input id="searchtxt" type="text" placeholder="키워드를 입력해 주세요.">
            <button id="searchbtn" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
    <div style="clear:both"></div>
    <br><br>
    <nav>
        <br>
        <hr>
    </nav>
    <br><br>
    <div class="post_list">
        <div id="board">게시판</div>
        <ul class="post">
            {% for post in posts %}
                <li>
                    <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
                    <p>{{ post.created_at }}</p>
                </li>
            {% endfor %}
        </ul>
        <a id="new" href="{% url 'post_new' %}">새 글 작성</a>
    </div>
    <article>
        <div>
            <a id="shopping" href="{% url 'home'%}">어베인 인터내셔널 -></a>
        </div>
        <iframe src="https://wikidocs.net/">
            <p>현재 사용 중인 브라우저는 iframe 요소를 지원하지 않습니다.</p>
        </iframe>
    </article>
    <br>
    <div id="banner">
        <img src="{% static 'images/banner.jpg' %}" width="100%" height="200">
    </div>
    <br><br>
    <footer>
        위치: 대구광역시 북구 대현동 214-6 파크밸리 2층<br>
        대표자: 박지상 &nbsp;&nbsp;&nbsp;&nbsp;전화번호: 010-7539-1886<br>
        문의: solgryn1027@gmail.com
    </footer>
</body>

</html>